body {
	background: url(../assets/image1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0px;
	overflow: hidden;
	color: white;
}

.panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question-container {
	margin: 10px;
	padding: 1rem;
	background-color: var(--background);
	font-size: x-large;
	text-align: center;
	border-radius: 0.5rem;
	box-shadow: 2px 3px 10px var(--light-green);
}

.option-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0.2rem;
	min-width: 40vw;
}

.option {
	margin: 0.5rem;
	padding: 0.5rem;
	height: 4.5rem;
	font-size: larger;
	background-color: var(--background);
	border: none;
	border-radius: 1rem;
	color: white;
	cursor: pointer;
	box-shadow: 2px 3px 10px var(--green);
}

.option.active {
	background-color: rgba(0, 0, 0, 0.75);
}

.submit {
	background-color: var(--background);
	width: 15vw;
	height: 8vh;
	padding: 0.2rem;
	margin-top: 0.5rem;
	font-size: larger;
	color: white;
	cursor: pointer;
	font-family: 'Knewave';
	box-shadow: 2px 3px 10px var(--green);
	border: none;
}

.submit:hover, .option:hover {
	transform: scale(1.01);
}