body {
	height: 100vh;
	margin: 0px;
	overflow: hidden;
	color: white;
}

.panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question-container {
	margin: 10px;
	padding: 1rem;
	background-color: var(--background);
	font-size: 1.75rem;
	font-weight: 700;
	text-align: center;
	border-radius: 0.5rem;
	box-shadow: 2px 3px 10px var(--light-green);
}

.option-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0.2rem;
	min-width: 40vw;
}

.option {
	margin: 0.5rem;
	padding: 0.5rem;
	height: 4rem;
	font-size: 1.2rem;
	font-weight: 700;
	background-color: var(--background);
	border: none;
	color: white;
	cursor: pointer;
	box-shadow: 2px 3px 10px var(--green);
	font-family: 'Rubik';
}

.submit {
	background-color: var(--background);
	width: 15vw;
	height: 6vh;
	padding: 0.5rem;
	margin-top: 0.5rem;
	font-size: 2rem;
	font-weight: 700;
	color: white;
	cursor: pointer;
	box-shadow: 2px 3px 10px var(--green);
	border: none;
	font-family: 'Rubik';
	border-radius: 1rem;
}

.submit:hover, .option:hover {
	transform: scale(1.02);
	background-color: rgba(0, 0, 0, 0.5);
}

.option.active, option.active:hover {
	background-color: rgba(0, 0, 0, 0.75);
}