.panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question-container {
	margin: 10px;
	padding: 1rem;
	background-color: var(--background);
	font-size: 1.7rem;
	font-weight: 700;
	text-align: center;
	border-radius: 0.5rem;
}

.option-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0.2rem;
	min-width: 40vw;
	background: var(--background);
	border-radius: 0.5rem;
	margin: 1.25rem;
}

.option {
	margin: 0.5rem;
	padding: 0.3rem 1rem 0.3rem 1rem;
	height: 4rem;
	font-size: 1.3rem;
	font-weight: 700;
	border: none;
	color: white;
	cursor: pointer;
	font-family: 'Rubik';
}

.submit {
	background-color: var(--background);
	padding: 0.75rem;
	margin: 0.5rem;
	font-size: 1.8rem;
	font-weight: 700;
	color: white;
	cursor: pointer;
	border: none;
	font-family: 'Rubik';
	border-radius: 1rem;
}

.option.active,
option.active:hover {
	background: rgba(0, 0, 0, 0.8);
}

.healthbar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 10vh;
	width: auto;
}
.healthbar img {
	height: 10vh;
}