body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0px;
    color: white;
}

.rules {
    margin: 10px;
	padding: 1rem;
	background-color: var(--background);
	font-size: 1.7rem;
	font-weight: 700;
	text-align: center;
	border-radius: 0.5rem;
	box-shadow: 3px 4px 15px var(--light-green);
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
	display: flex;
	flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 0.75rem;
	margin: 0.5rem;
	cursor: pointer;
	box-shadow: 2px 3px 10px var(--light-green);
	background: var(--background);
	border-radius: 1rem;
}

.card img {
	width: 12vw;
}

.card:hover {
	transform: scale(1.015);
	background: var(--dark-background);
	box-shadow: 2px 3px 10px var(---green);
}

.healthbar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 10vh;
	width: auto;
}
.healthbar img {
	height: 10vh;
}