body {
    height: 100vh;
    margin: 0px;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
}

.nav-link {
    color: white;
    display: block;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    font-size: clamp(3rem, 3.75rem, 6rem);
    padding: 1rem;
    bottom: 3.25rem;
    padding-left: 2.5rem;
}

.nav-link:hover {
    color: var(--light-green);
}

.nav-link:hover:before {
    transition: width 400ms ease;
    width: 100%;
}

.nav-link:before {
    background: linear-gradient(to right, transparent, var(--green) var(--light-green-percent), var(--light-green));
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
    position: absolute;
}
