@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Rubik:wght@400;700;900&display=swap');

:root {
    --green: rgb(41, 174, 29);
    --light-green: rgb(37, 243, 33);
    --background: rgba(0, 0, 0, 0.25);
}

html {
    font-family: 'Rubik';
}

body {
	background: url(./assets/background.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
	display: block;
	width: fit-content;
	text-align: center;
	font-family: 'Knewave';
	font-weight: 400;
	font-size: clamp(3rem, 5rem, 8rem);
	box-shadow: 3px 5px 30px var(--light-green);
	padding: 1.25rem;
	border-radius: 1.5rem;
	margin-right: auto;
	margin-left: auto;
	background: var(--background);
}

.back {
	position: absolute;
	width: fit-content;
	text-align: center;
	font-family: 'Knewave';
	font-weight: 400;
	font-size: clamp(1.5rem, 2.5rem, 4rem);
	box-shadow: 3px 5px 30px var(--light-green);
	padding: 0.5rem;
	margin-left: 1rem;
	border: none;
	border-radius: 1rem;
	background: var(--background);
	color: white;
	cursor: pointer;
}

.back svg {
	position: relative;
	top: 0.5rem;
}