@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Rubik:wght@400;700;900&display=swap');

:root {
	--green: rgba(41, 174, 29, 0.75);
	--light-green: rgba(27, 255, 23, 0.75);
	--background: rgba(0, 0, 0, 0.35);
	--dark-background: rgba(0, 0, 0, 0.6);
	--normal-box-shadow: 0px 0px 10px var(--light-green);
	--large-box-shadow: 0px 0px 25px var(--light-green);
}

html {
	font-family: 'Rubik';
}

body {
	background: url(./assets/background.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow-x: hidden;
	overflow-y: overlay;
	color: white;
	height: 100vh;
	margin: 0px;
	scroll-behavior: smooth;
}

body:has(.popup[data-active="true"])>*:not(.popup) {
	filter: blur(2.5px);
	pointer-events: none;
	user-select: none;
}

.no-select {
	user-select: none;
}

.box-shadow {
	box-shadow: var(--normal-box-shadow);
}

.clickable {
	color: white;
	font-family: 'Rubik';
	border: none;
	cursor: pointer;
	background: var(--background);
}

.clickable:hover {
	box-shadow: var(--large-box-shadow);
	background: var(--dark-background);
	transform: scale(1.01);
}

.popup[data-active="true"] {
	display: flex;
}

.popup[data-active="false"] {
	display: none;
}

.popup {
	position: absolute;
	flex-direction: column;
	align-content: center;
	width: 25rem;
	height: 25rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1.25rem;
	border-radius: 1.5rem;
	background: rgba(0, 0, 0, 0.85);
	z-index: 999;
}

.popup-title {
	position: relative;
	text-align: center;
	font-family: 'Knewave';
	font-size: 3rem;
	margin: 0.5rem;
	font-weight: 600;
}

.popup-content {
	position: relative;
	font-size: 1.5rem;
	height: 20rem;
	font-weight: 550;
	margin: 0;
}

.popup-close {
	position: relative;
	padding: 0.5rem;
	font-size: 2rem;
	border-radius: 0.5rem;
	font-weight: 600;
}

.title {
	display: block;
	width: fit-content;
	text-align: center;
	font-family: 'Knewave';
	font-weight: 400;
	font-size: clamp(3rem, 4.5rem, 6rem);
	padding: 1rem;
	border-radius: 1.5rem;
	margin-right: auto;
	margin-left: auto;
	background: var(--background);
}

.back {
	position: absolute;
	width: fit-content;
	text-align: center;
	font-family: 'Knewave';
	font-weight: 400;
	font-size: clamp(1.5rem, 2.5rem, 4rem);
	box-shadow: 3px 5px 30px var(--light-green);
	padding: 0.5rem;
	margin-left: 1rem;
	border-radius: 1rem;
	background: var(--background);
	cursor: pointer;
}

.back svg {
	position: relative;
	top: 0.5rem;
	left: 0.25rem;
	transition: all 75ms ease-out;
}

.back:hover svg {
	left: -0.25rem;
}

::-webkit-scrollbar {
	width: 0.5rem;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 5rem;
}

::-webkit-scrollbar-thumb:vertical {
	background: transparent;
	-webkit-border-radius: 5rem;
}

::-webkit-scrollbar-thumb:vertical:hover {
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 5rem;
}

::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(0, 0, 0, 0.6);
	-webkit-border-radius: 5rem;
}

::selection {
	background: var(--background);
}